@import "../variables/variables";
.banner {
  width: 100%;
  height: 220px;
}

.banner-content {
  position: relative;
}

.banner-content p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  width: 100%;
  color: $txt-fond-clair;
  text-align: center;
}

.banner img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  filter: brightness(80%);
}

@media screen and (max-width: 400px) {
  .banner {
    position: relative;
    height: 110px;
    width: 100%;
  }
  .banner-content p {
    position: absolute;
    left: 40%;
    top: 50%;
    color: black;
    font-size: 24px;
    width: 217px;
    color: white;
    text-align: left;
    line-height: 20px;
  }
}
