@import "../variables/variables";
@import "../mixins.scss/mixins";

.card {
  position: relative;
  overflow: hidden;
  width: 340px;
  height: 340px;
  border-radius: 10px;
}

.card .cover-cards {
  object-fit: cover;
  width: 100%;
  height: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card .cover-cards:hover {
  filter: blur(0px);
}
.card:hover {
  transform: scale(1.1);
  transition: 0.5s;
  .card-container {
    width: 100%;
    border-radius: 5px;
    background: $txt-fond-clair;
    background: rgba(255, 255, 255, 0.4);
  }
  .card-content p {
    color: $txt-hover-gris-foncé;
  }
}

.card-container {
  @include absolute-el-left-bottom(0, 0);
  padding: 10px;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.card-content {
  display: flex;
  align-items: center;
  filter: blur(0);
}

.card-content p {
  font-size: 18px;
  text-align: left;
  color: $txt-fond-clair;
}

//Désactive les animations
@media screen and (max-width: 768px) {
  .card .cover-cards:hover {
    filter: none;
  }
  .card:hover {
    transform: none;
    transition: none;
  }
}
