@import "../variables/variables"; // _dropdown.scss
.collapse-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background: $orange-main;
  color: $txt-fond-clair;
  font-size: 22px;
  border-radius: 5px;
  cursor: pointer;

  p {
    margin-left: 15px;
  }

  .arrow-dropdown {
    position: absolute;
    right: 15px;
    transition: 0.3s;
  }

  &.active .arrow-dropdown {
    transform: rotate(-180deg);
  }

  .dropdown-content {
    position: absolute;
    top: -800%;
    left: 0;
    width: 100%;
    margin-top: 65px;
    transition: 0.3s;
    background: #f6f6f6;
    z-index: -10;
    border-radius: 5px;
  }

  p {
    position: relative;
    font-size: 18px;
    color: $txt-fond-sombre;
    text-decoration: none;
    margin: 15px 15px;
    transition: 0.3s;
  }

  .active .dropdown-content {
    top: -7px;
  }

  .content {
    color: $txt-fond-sombre;
    font-size: 18px;
    margin: 15px 15px;
  }
}

.logement-dropdown-container {
  display: flex;
  flex: 1;
  gap: 100px;
  width: 100%;
  margin-top: 25px;
}

.description-box,
.equipments-box {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
  z-index: 10;
  transition: 0.3s height;
}

.box-expanded {
  height: 350px;
}

.description-dropdown,
.equipments-dropdown {
  @extend .collapse-dropdown;
  height: 60px;
}

.description-dropdown p,
.equipments-dropdown p {
  margin-left: 15px;
}

.arrow-dropdown {
  position: absolute;
  right: 15px;
  transition: 0.3s;
}

.description-dropdown.active .arrow-dropdown,
.equipments-dropdown.active .arrow-dropdown {
  transform: rotate(-180deg);
}

.description-dropdown .description-dropdown-content,
.equipments-dropdown .equipments-dropdown-content {
  @extend .dropdown-content;
  height: 250px;
}

.equipments-content {
  @extend .content;
}

.host-rating {
  margin-top: 20px;
}

.rating > i {
  font-size: 24px;
}
