@import "../variables/variables";
nav {
  margin: 45px 0 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links .home-btn,
.about-btn {
  text-decoration: none;
  color: $orange-main;
  font-size: 24px;
}

.nav-links .home-btn {
  margin-right: 60px;
}

@media screen and (min-width: 401) and (max-width: 768px) {
}
@media screen and (max-width: 400px) {
  header {
    width: 100%;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    margin: 20px 0;
  }
  nav img {
    margin: 0;
    margin-left: 15px;
  }

  .nav-links {
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin: 0;
  }
  .nav-links .home-btn,
  .about-btn {
    font-size: 12px;
  }
  .nav-links .home-btn {
    margin-right: 30px;
  }
}
