@import "./variables/variables";
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-content {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 60px 30px;
  margin: 50px 60px;
  border-radius: 25px;
  background-color: $background-gris;
}

@media screen and (max-width: 400px) {
  .home-content {
    margin-bottom: 15px;
    padding: 0;
    background: none;
    gap: 0px;
  }
}
