.content-container {
  margin: 0 60px;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Minimum height to cover the viewport */
}

@media screen and (max-width: 400px) {
  .content-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
  }
}
