//Principales
$orange-main: #ff6060;

//Etoiles
$stars: #e3e3e3;

//Container
$background-gris: #f6f6f6;
$background-noir: #000000;

//Text
$txt-fond-clair: #ffffff;
$txt-fond-sombre: #000000;
$txt-hover-gris-foncé: rgb(49, 49, 49);

//Utilitaires Position / Dimensions

$radius-img: 25px;
